{if $full_page}
{include file="header.html"}
{literal}
<script type="text/javascript">
$(document).ready(function() {
	$(".player a").mouseover(function(){
		$(this).next().css('position','absolute');	
		$(this).next().show('slow');							   
	});
	$(".player a").mouseout(function(){
		$(this).next().hide('slow');							   
	});
});
</script>
{/literal}
<div class="list-div" id="listDiv">
{/if}
  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="list-table" class="table">
    <tr >	
      <th>图片链接</th>
      <th>图片</th>
     <!-- <th>分类</th>
      <th>图片标题</th>-->
      <th>图片类型</th>
     <!-- <th>图片标题(简体)</th>
      <th>图片标题(英文)</th>
      <th>图片说明</th>
      <th>图片说明(简体)</th>
      <th>图片说明(英文)</th>
      <th>排序</th>-->
      <th>操作</th>
    </tr>
    {foreach from=$flash item=item key=key}
    <tr>
	  <td>{$item.img_link}&nbsp;</td>
      <td class="player">
      	<a href="{$item.img_src}" target="_blank">{$item.img_src}</a>
        <div style="display:none;z-index:2">
        	<img src="../{$item.img_src}" border="0" />
        </div>
      </td>
      
      <!--<td>{$item.cat_name}</td>-->
      <td>{if $item.img_type eq 1}BANNER{else}幻灯片{/if}</td>
      <!--<td><a href="{$item.img_link}" target="_blank">{$item.img_link}</a></td>
      
      <td>{$item.img_title_tw}&nbsp;</td>
       <td>{$item.img_title_en}&nbsp;</td>
      <td>{$item.img_alt}&nbsp;</td>
      <td>{$item.img_alt_tw}&nbsp;</td>
      <td>{$item.img_alt_en}&nbsp;</td>
      <td>{$item.img_sort}&nbsp;</td>-->
      <td>
        <a href="flashplay.php?act=edit&flash_id={$item.flash_id}" title="编辑">编辑</a>
        <a href="javascript:;" onclick="listTable.remove({$item.flash_id}, '您确认要删除这条记录吗?')" title="移除">移除</a>
    </tr>
    {foreachelse}
    <tr><td colspan="4">暂无记录</td></tr>
    {/foreach}
    <tr>
      <td>
    	<input name="add" type="submit" id="btnSubmit" value="{$action_link_special.text}" class="button" onclick="location.href='{$action_link_special.href}';" />
        <td align="right"  colspan="3">{include file="page.html"}</td>
      </td>
    </tr>
  </table>
{if $full_page}
</div>

<script language="JavaScript">
	listTable.recordCount = {$record_count};
	listTable.pageCount = {$page_count};
	
	{foreach from=$filter item=item key=key}
	listTable.filter.{$key} = '{$item}';
	{/foreach}
</script>
{include file="footer.html"}
{/if}