{if $full_page}
{include file="header.html"}
<div class="form-div">
<table>
    <tr>
      <td width="50%">
      <form name="theForm" method="POST" action="admin_user.php?act=list">
      <img src="images/icon_search.gif" width="26" height="22" border="0" alt="srarch" />
      按所属角色查看
      <select name="admin_role" onchange="this.form.submit()">
      <option value='0'>选择角色...</option>
		{$role_list}
      </select>
      </td>
</table>
</div>
<div class="list-div" id="listDiv">
{/if}
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table">
    <tr>
	  <th>ID</th>
      <th>用户名</th>
      <th>公司</th>
      <th>职位</th>
      <th>Email地址</th>
      <th>订阅时间</th>
      <th>电话号码</th>
	  <th>发送状态</th>
      <th>操作</th>
    </tr>
    {foreach from=$admin_list item=admin}
    <tr>
	 <td class="first-cell">{$admin.user_id}</td>

      <td>{$admin.user_name}</td>
      <td>{$admin.company}</td>
      <td>{$admin.job}</td>
      <td>{$admin.email }</td>
      <td align="left">{$admin.add_time}</td>
      <td align="left">{$admin.phone}</td>
	  <td align="left">NO</td>

      <td align="center">
      	<a href="admin_user.php?act=edit&id={$admin.user_id}" title="权限">权限</a> |
        <a href="admin_logs.php?act=list&admin_id={$admin.user_id}" title="日志">日志</a> |
        <a href="admin_user.php?act=edit&id={$admin.user_id}" title="编辑">编辑</a> |
        <a href="admin_user.php?act=pass&id={$admin.user_id}" title="修改密码">修改密码</a> |
        <a href="javascript:;" onclick="listTable.remove({$admin.user_id}, '您确认要删除这要记录吗?')" title="删除">移除</a> 
      </td>
    </tr>
    {/foreach}
  </table>
<!-- end brand list -->
{if $full_page}
</div>
<script type="text/javascript">
listTable.filter.admin_role = document.forms['theForm'].elements['admin_role'].value;
</script>
{include file="footer.html"}
{/if}