<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Rising</title>
<link href="css/reset.css" type="text/css" rel="stylesheet" />
<link href="css/layout.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="js/common.js" type="text/javascript"></script>
</head>

<body>
	<div class="wrap">
		<div class="head">
        	<div class="logo"><a href="#"><img src="images/index_03.jpg" /></a></div>
            <div class="banner">
            	<p>上午好，<a href="#">会员名称</a> 丨 <a href="#">个人中心</a></p>
                <div class="menu">
                	<span><a href="#">首页</a></span>
                    <span><a href="#">产品服务中心</a></span>
                    <span><a href="#">渠道服务中心</a></span>
                    <span><a href="#">项目投标</a></span>
                    <span><a href="#">联系我们</a></span>|   
                    <span><a href="#">订阅</a></span>
                </div>
            </div>
        </div>
        <div class="index">
        	<div class="nav">
            	<span ><a href="关于我们.html">关于我们</a>
                	<div class="subnav">
                    	<p class="cur"><a href="#">创新+服务</a></p>
                        <p><a href="日先简介.html">日先简介</a></p>
						<p><a href="日先足迹.html">日先足迹</a></p>
                        <p><a href="日先荣耀.html">日先荣耀</a></p>
						<p><a href="日先理念.html">日先理念</a></p>
                        <br />

                </div>
                </span>
                
                <span ><a href="日先作品.html">日先作品</a>
                	<div class="subnav">
                    	<p class="cur"><a href="#">品牌+案例</a></p>
                        <p><a href="合作品牌.html">合作品牌</a></p>
						<p><a href="经典案例.html">经典案例</a></p>
                        <br />

                </div>
                </span>
                
                <span><a href="日先荣耀.html">店铺服务</a>
                	<div class="subnav">
                    	<p class="cur"><a href="#">交流+分享</a></p>
                        <p><a href="日先动态.html">日先动态</a></p>
						<p><a href="店铺视角.html">店铺视角</a></p>
                        <br />

                </div>
                </span>
                
                <span><a href="加入我们.html">加入我们</a>
                	<div class="subnav">
                    	<p class="cur"><a href="#">价值+收获</a></p>
                        <p><a href="人才理念.html">人才理念</a></p>
						<p><a href="招聘职位.html">招聘职位</a></p>
                        <br />

                </div>
                </span>
                
                <span class="cur" >
                	<a href="店铺视角.html">动态与观点</a>
                    <div class="subnav">
                    	<p class="cur"><a href="#">交流+分享</a></p>
                        <p><a href="店铺视角.html">店铺视角</a></p>
						<p><a href="日先动态.html">日先动态</a></p>
                        <br />

                    </div>
                </span>
            </div>
        	
            
            
            <div class="page subpage">
            	
            		<div class="pagenav">
                    	 <h3>动态与观点&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h3>
                         <span  class="cur"><a href="#">店铺视角</a></span>
                         <span><a href="#">日先动态</a></span>
                    </div>
                    <div class="pageRcon">
                    <div class="toptxt">
                    	<h3>
                        	<img src="images/view_03.jpg" />
						</h3><br />

                    </div>
                    <div class="mid_con"> 
                    	
                          
                          
                          <div class="conlevel">
                          	  <div class="contxt">
                          		<h4>店铺视角</h4>
                               <div class="shoplist">
                               		<div class="shoplists">
                                    	<img src="images/view_07.jpg" />
                                        <div class="shoplist_txt">
                                        	<p><a href="#">那些年的店铺</a> <i>2013-01-16</i></p>
                                            <p>为了对我司知识产权进行保护及对品牌进行传播推广，2011年初我司推广部开始积极着手“广东省著名商标”的准备和申请工作。经过众多繁琐细致的资料准备和申报工作，近日，一张沉甸甸的被认定为“广东省著名商标”的“日先”...</p>
                                            
                                        </div>	
                                    </div>
                                    
                                    <div class="shoplists">
                                    	<img src="images/view_07.jpg" />
                                        <div class="shoplist_txt">
                                        	<p><a href="#">那些年的店铺</a> <i>2013-01-16</i></p>
                                            <p>为了对我司知识产权进行保护及对品牌进行传播推广，2011年初我司推广部开始积极着手“广东省著名商标”的准备和申请工作。经过众多繁琐细致的资料准备和申报工作，近日，一张沉甸甸的被认定为“广东省著名商标”的“日先”...</p>
                                            
                                        </div>	
                                    </div>
                                    
                                    <div class="shoplists">
                                    	<img src="images/view_07.jpg" />
                                        <div class="shoplist_txt">
                                        	<p><a href="#">那些年的店铺</a> <i>2013-01-16</i></p>
                                            <p>为了对我司知识产权进行保护及对品牌进行传播推广，2011年初我司推广部开始积极着手“广东省著名商标”的准备和申请工作。经过众多繁琐细致的资料准备和申报工作，近日，一张沉甸甸的被认定为“广东省著名商标”的“日先”...</p>
                                            
                                        </div>	
                                    </div>
                                    
                                    <div class="shoplists">
                                    	<img src="images/view_07.jpg" />
                                        <div class="shoplist_txt">
                                        	<p><a href="#">那些年的店铺</a> <i>2013-01-16</i></p>
                                            <p>为了对我司知识产权进行保护及对品牌进行传播推广，2011年初我司推广部开始积极着手“广东省著名商标”的准备和申请工作。经过众多繁琐细致的资料准备和申报工作，近日，一张沉甸甸的被认定为“广东省著名商标”的“日先”...</p>
                                            
                                        </div>	
                                    </div>
                                    
                                    
                                    <div class="shoplists">
                                    	<img src="images/view_07.jpg" />
                                        <div class="shoplist_txt">
                                        	<p><a href="#">那些年的店铺</a> <i>2013-01-16</i></p>
                                            <p>为了对我司知识产权进行保护及对品牌进行传播推广，2011年初我司推广部开始积极着手“广东省著名商标”的准备和申请工作。经过众多繁琐细致的资料准备和申报工作，近日，一张沉甸甸的被认定为“广东省著名商标”的“日先”...</p>
                                            
                                        </div>	
                                    </div>
                                    
                                    
                                    
                                    <div class="pages">
                                    		<a href="#">上一页</a>
                                            <a href="#">1</a>
                                            <a href="#">2</a>
                                            <a href="#">3</a>
                                            <a href="#">4</a>
                                            <a href="#">5</a>
                                            <a href="#">6</a>
                                            <a href="#">7</a>
                                            <a href="#">8</a>
                                            <a href="#">9</a>
                                            <a href="#">下一页</a>
                                            <span class="chosepage">到第<input type="text" value="500" class="text" />页</span>
                                            <input class="button"  type="button" value="确定">
                                    </div>
                                    
                                    
                               </div>
                               
                               
                          </div>
                          <br />
                          <br />
                          <br />
						  </div>
                          
                          
                          
                    </div>
                    <div class="right_con">
                    		<h3>&plus; 新闻会客室</h3>
                            <img src="images/about_07.jpg" />
                            <p>媒体朋友，欢迎光临宝洁新闻会客室，我们将为你提供一系列的媒体服务。请加入日先媒体沙龙，我们已为你的采访、报道、资料需求做好准备。</p>
                            <img src="images/about_07.jpg" />
                            <p>媒体朋友，欢迎光临宝洁新闻会客室，我们将为你提供一系列的媒体服务。请加入日先媒体沙龙，我们已为你的采访、报道、资料需求做好准备。</p>
                    </div>
                  </div>
            </div>
        </div>  
        
        <div class="footer">
        		<p class="fcolor"><b>全国开店&nbsp;&nbsp;千店一面&nbsp;&nbsp;RISING</b> 商业零售空间策划服务提供商</p>
                <p>粤ICP备10101273号-1</p>
        </div> 
    </div> 
</body>
</html>
